.home-page {
  font-family: 'Poppins', sans-serif;
  color: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  /* Animation for horizontal background scroll */
  animation: scrollBackground 60s linear infinite; /* Animation de défilement horizontal */

  /* Hero Section */
  .hero {
    margin-top: 20px;
    flex-grow: 1;

    .game-title {
      font-size: 3rem;
      font-weight: 700;
      color: #444;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .subtitle {
      font-size: 1.2rem;
      margin-top: 10px;
      color: #666;
    }

    .difficulty-switch {
      display: flex;
      justify-content: center;
      gap: 15px;
      margin-top: 20px;

      .difficulty-btn {
        background: #eaeaea;
        color: #555;
        padding: 10px 18px;
        font-size: 1rem;
        border-radius: 30px;
        border: none;
        cursor: pointer;

        &.active {
          background: #007BFF;
          color: white;
        }

        &:hover {
          background: #f5f5f5;
        }
      }
    }
  }

  /* Play Section */
  .play-section {
    margin: 30px auto;
    .play-btn {
      background: #007BFF;
      color: white;
      padding: 15px 50px;
      font-size: 1.5rem;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      margin-top: 30px;
    }
  }

  /* Options Section */
  .options-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

    .btn-round {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #007bff;
      box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
      transition: all 0.3s ease;

      img {
        width: 60%;
        height: auto;
      }

      &:hover {
        background-color: #0056b3;
        box-shadow: 0 6px 12px rgba(0, 123, 255, 0.4);
        transform: scale(1.1);
      }

      &:active {
        transform: scale(0.95);
        box-shadow: 0 2px 6px rgba(0, 123, 255, 0.2);
      }
    }
  }

  /* Modals Section */
  .modal-body ul {
    list-style: none;
    padding: 0;

    li {
      padding: 10px;
      margin: 5px 0;
      background: #f8f8f8;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background: #007bff;
        color: white;
      }
    }
  }

  /* Keyframes for horizontal background scroll */
  @keyframes scrollBackground {
    0% {
      background-position: 0 0; /* Début de l'animation, l'image est à gauche */
    }
    100% {
      background-position: 100% 0; /* Fin de l'animation, l'image est à droite */
    }
  }
}
