.home-page {
  font-family: 'Abyssinica SIL';
  color: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: black;
  background-image: asset-url("penseur.jpg");
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;

  /* Ajuste la taille pour les petits écrans */
  @media (max-width: 1024px) {
    background-size: 50%;
  }

  @media (max-width: 768px) {
    background-size: 70%;
  }

  @media (max-width: 480px) {
    background-size: 100%;
  }
}

  /* Hero Section */
  .hero {
    margin-top: 20px;
    flex-grow: 1;

    .logo-title-container {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      gap: 10px;
      margin-top: 60px;
    }

    .logo {
      width: 35px;
      height: auto;
      padding-bottom: 3px;
    }

    .logo-title-container {
      display: flex; /* Aligne logo et titre horizontalement */
      align-items: flex-end; /* Aligne sur le bas du conteneur */
      justify-content: center; /* Centre le tout horizontalement */
      gap: 10px; /* Espacement entre logo et titre */
    }

    .game-title {
      font-size: 3rem;
      font-weight: 700;
      color: white;
      letter-spacing: 4px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
      margin: 0; /* Supprime tout espace par défaut */
      padding: 0; /* Supprime tout espace par défaut */
      line-height: 1; /* Ajuste la hauteur de ligne pour aligner parfaitement */
    }

    }

    .subtitle {
      font-size: 1.4rem;
      margin-top: 10px;
      color: rgba(255, 255, 255, 0.6);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

    // .difficulty-switch {
    //   display: flex;
    //   justify-content: center;
    //   gap: 15px;
    //   margin-top: 20px;

      // .difficulty-btn {
      //   background: rgba(255, 255, 255, 0.3);
      //   box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
      //   color: black;
      //   padding: 12px 20px;
      //   font-size: 1.2rem;
      //   font-weight: 500;
      //   border-radius: 50px;
      //   border: none;
      //   cursor: pointer;
      //   transition: all 0.3s ease;
      //   width: 120px;
      //   text-align: center;

      //   &.active {
      //     background: #243642;  /* Utilisation du bleu foncé pour l'état actif */
      //     color: white;
      //   }

      //   &:hover {
      //     background: rgba(255, 255, 255, 0.5);  /* Couleur plus claire au survol */
      //     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
      //     transform: translateY(-2px); /* Légère élévation au survol */
      //   }

      //   &:active {
      //     transform: scale(0.95);  /* Réduction au clic */
      //     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      //     color: white;
      //   }
      // }



  /* Play Section */
  .play-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .play-btn {
    text-decoration: none;
    background: black;
    color: white;
    /* padding: 15px 40px; */
    font-size: 0.9rem;
    font-weight: 800;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8);
    outline: none;
    border: solid; /* Supprime la bordure par défaut */

    &:hover {
      background: #555;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
      transform: scale(1.1);
      transform: translateY(-2px);
    }

    &:active {
      transform: scale(0.95);
    }
  }

.button-section {
  height: 75%;
}

  .play-master-btn {
    text-decoration: none;
    background: white;
    color: black;
    padding: 4px 24px;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    width: 50%;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8);
    outline: none;
    border: none; /* Supprime la bordure par défaut */

    &:hover {
      background: #555;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
      transform: scale(1.1);
      transform: translateY(-2px);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  /* Challenge Button Section */
  .challenge-btn-section {

    .challenge-btn {
      background-color: #243642;  /* Bleu foncé */
      color: white;
      padding: 12px 30px;
      font-size: 1.1rem;
      border-radius: 50px;
      cursor: pointer;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
      transition: all 0.3s ease;

      &:hover {
        background-color: #555;  /* Fond plus sombre */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
        transform: translateY(-2px);
      }

      &:active {
        transform: scale(0.95);  /* Réduction au clic */
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
      }
    }
  }


  /* Options Section */
  .options-section {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
    margin-top: 12px;

    .btn-round {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.3);
      border: 2px solid #ccc;
      box-shadow: 0 4px 10px #243642;
      transition: all 0.3s ease;

      img {
        width: 50%;
        height: auto;
      }

      &:hover {
        background-color: rgba(36, 54, 66, 0.8);
        transform: scale(1.1);
        border-color: #888;
      }

      &:active {
        transform: scale(0.95);
        border-color: #ccc;
      }
    }
  }


  /* Modals Section */
  .modal-content {
    background: rgba(255, 255, 255, 0.5); // Fond semi-transparent
    backdrop-filter: blur(10px); // Effet de flou
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); // Ombre élégante
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  /* Animation de Scale In pour la modal */
.modal-dialog {
  transform: scale(0.8); /* Commence plus petit */
  opacity: 0;
  animation: scaleIn 0.5s ease forwards;
}

/* Définir l'animation */
@keyframes scaleIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
  .modal-header {
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 12px 12px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 0;
  }

  .modal-body {
    padding: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .modal-body ul li {
    padding: 12px 20px;
    margin: 8px 0;
    background: rgba(255, 255, 255, 0.7); // Items légèrement en relief
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      background: #243642;
      color: white;
      transform: translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

    &:active {
      transform: translateY(0);
      box-shadow: none;
    }
  }

  .play-master-modal-btn {
    text-decoration: none;
    background: white;
    color: black;
    padding: 4px 24px;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    width: 50%;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8);
    outline: none;
    border: none; /* Supprime la bordure par défaut */

    &:hover {
      background: #555;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
      transform: scale(1.1);
      transform: translateY(-2px);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .link {
    background-color: whitesmoke;
    border-radius: 8px;
    width: 40%;
  }
