/* Styles existants codés par ton collègue */
@media(max-width: 576px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

.custom-progress{
  background-color: rgb(131, 131, 131);
}

.custom-progress::-webkit-progress-bar {
  background-color: rgb(131, 131, 131);/* Arrière-plan pour Webkit (Chrome, Safari, Edge) */
}

.custom-progress::-moz-progress-bar {
  background-color: rgb(131, 131, 131); /* Arrière-plan pour Firefox */
}

.custom-progress::-webkit-progress-value {
  background-color: #ffffff; /* Couleur de la partie remplie pour Webkit */
}

.custom-progress::-moz-progress-bar {
  background-color: #ffffff; /* Couleur de la partie remplie pour Firefox */
}

.btn-primary {
  background-color: white;
  color: black;
  padding: 10px 20px; /* Espacement interne du bouton */
  font-size: 16px; /* Taille de la police */
  border: none; /* Retirer la bordure */
  border-radius: 5px; /* Bord arrondi */
  transition: transform 0.2s ease, background-color 0.2s ease; /* Animation pour l'effet de soulèvement et la couleur */
}

.modal-header{
  background-color: white;
}

/* Lorsqu'on clique sur le bouton (état :active) */
.btn-primary:active {
  transform: translateY(-4px); /* Soulève légèrement le bouton */
  background-color: white !important;
  color: black !important;
  border-color: white !important;
}

.btn:hover{
  background-color: white !important;
  color: black !important;
  border-color: white !important;
}

#btn-map{
  border-color: white;
  box-shadow: 0 6px 15px rgba(94, 95, 95, 0.9);
}

#btn-artist{
  border-color: white;
  box-shadow: 0 6px 15px rgba(94, 95, 95, 0.9);
}

#btn-date{
  border-color: white;
  box-shadow: 0 6px 15px rgba(94, 95, 95, 0.9);
}



#mapModalLabel{
  color: black;
}

#artistModalLabel{
  color: black;
}

#artistModal{
  color: black;
}

#whenModalLabel{
  color: black;
}

#whenModal{
  color: black;
}

#mapModal .modal-content {
  background-color: #000000; /* Couleur de fond de la modal */
}

#artistModal .modal-content{
  background-color: #000000;
}

#whenModal .modal-content{
  background-color: #000000;
}

.container {
  color: white; /* Tout le texte en blanc */
}

h1, .info, #toggleButton, #attribution {
  color: white; /* Applique le texte blanc à ces éléments spécifiques */
}

#toggleButton {
  margin-top: 10px; /* Marge au-dessus du bouton Attribution Licence */
  font-size: 16px;
  cursor: pointer;
}

#attribution {
  margin-top: 10px; /* Marge entre le bouton et l'attribution */
}

.info {
  margin-top: 15px; /* Marge entre les éléments de classe info */
}

.image-container {
  position: relative;
  display: inline-block;
  margin-bottom: 30px; /* Marge en bas de l'image pour espacer du reste du contenu */
  width: 100%; /* Prend toute la largeur disponible */
}

.image-container .image-blur {
  position: absolute; /* Placer l'image floue en position absolue */
  top: 0;
  left: 0;
  width: 100%; /* S'assure que l'image floue prend 100% de la largeur du conteneur */
  height: 100%; /* S'assure que l'image floue prend 100% de la hauteur du conteneur */
  object-fit: cover; /* Assure que l'image couvre l'intégralité du conteneur sans se déformer */
  filter: blur(2px); /* Application du flou */
  z-index: 1;
  opacity: 0.7;
}

.image-container .img-main {
  position: absolute; /* Placer l'image principale au-dessus de l'image floue */
  bottom: -10px; /* Légèrement en bas par rapport à l'image floue */
  right: -10px; /* Légèrement à droite par rapport à l'image floue */
  width: 95%; /* Réduit la largeur à 95% de l'image floue pour qu'elle dépasse légèrement */
  height: auto; /* Conserve les proportions de l'image principale */
  z-index: 2;
  border-radius: 8px; /* Bords arrondis pour l'image principale */
  object-fit: contain; /* S'assure que l'image garde ses proportions, sans déformation */
}

.wrapper {
  width: 100%; /* Prend toute la largeur disponible */
  display: flex;
  justify-content: center; /* Centre le contenu horizontalement */
  padding: 0 20px; /* Ajoute un espace des deux côtés */
  box-sizing: border-box; /* Inclut le padding dans la largeur totale */
  margin-top: 30px;
}


/* Jauge de date interactive */
input[type="range"] {
  -webkit-appearance: none; /* Pour que le style du range soit plus personnalisable */
  width: 100%; /* Prend toute la largeur du conteneur */
  height: 10px;
  background: #ddd; /* Couleur de fond */
  border-radius: 5px;
  outline: none;
  transition: background 0.3s ease; /* Effet de transition au survol */
}

input[type="range"]:focus {
  background: #aaa; /* Plus sombre quand l'élément est en focus */
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* Affichage dynamique de la valeur au-dessus du curseur */
#sliderValue {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;

}

/* Personnalisation pour l'écran mobile, ajuster la taille du slider */
@media(max-width: 576px) {
  input[type="range"] {
    height: 8px; /* Taille du slider sur les petits écrans */
  }

  #sliderValue {
    font-size: 24px;
  }
}

.attrib {
  color: #aaa;
  font-size: 10px;
}

.btn-open {
  position: absolute;
  bottom: 10%;  /* Distance du bas de l'image */
  right: 8%;   /* Distance du côté droit de l'image */
  text-decoration: none;
  background: #243642;
  color: white;
  padding: 8px 8px;
  font-size: 0.8rem;
  font-weight: 700;
  border: 2px solid white; /* Bordure blanche */
  border-radius: 50px; /* Arrondi des bords */
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block; /* Pour que le texte et le bouton soient centrés */
  text-align: center;
  box-shadow: 0 6px 15px rgba(121, 206, 184, 0.9);
  transition: all;

  &:hover {
    background: #555; /* Changement de couleur au survol */
    box-shadow: 0 6px 15px #243642(0, 0, 0, 0.3);
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }
}

.btn-open img {
  height: 30px;
  weight: 30px;
}

.icon-img {
  height: 5px;
  weight: 5px;
}

#toggleButton {
  color: #aaa;
  font-size: 8px;
  margin-bottom: 4px;
}

.info {
  font-size: 12px;
  margin-bottom: 6px;
}

.play-btn {
  text-decoration: none;
  background: black;
  color: white;
  /* padding: 15px 40px; */
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8);
  outline: none;
  border: solid; /* Supprime la bordure par défaut */
  font-family: "Montserrat", sans-serif;

  &:hover {
    background: #555;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    transform: translateY(-2px);
  }

  &:active {
    transform: scale(0.95);
  }
}

#result-title {
      /* border-top: 1px solid white; */
      font-weight: bold;
      font-size: 1.5rem;
      color: black;
      text-align: center;
      background-color: white;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
}
