/* Styles existants codés par ton collègue */
@media(max-width: 576px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Jauge de date interactive */
input[type="range"] {
  -webkit-appearance: none; /* Pour que le style du range soit plus personnalisable */
  width: 100%; /* Prend toute la largeur du conteneur */
  height: 10px;
  background: #ddd; /* Couleur de fond */
  border-radius: 5px;
  outline: none;
  transition: background 0.3s ease; /* Effet de transition au survol */
}

input[type="range"]:focus {
  background: #aaa; /* Plus sombre quand l'élément est en focus */
}

/* Affichage dynamique de la valeur au-dessus du curseur */
#sliderValue {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

/* Affichage de la date sous la jauge */
#sliderDate {
  font-size: 18px;
  color: #007bff;
  font-weight: 600;
}

/* Personnalisation pour l'écran mobile, ajuster la taille du slider */
@media(max-width: 576px) {
  input[type="range"] {
    height: 8px; /* Taille du slider sur les petits écrans */
  }

  #sliderValue {
    font-size: 14px;
  }

  #sliderDate {
    font-size: 16px;
  }
}

.attrib {
  color: #aaa;
  font-size: 10px;
}

.btn-open {
  position: absolute;
  bottom: 10%;  /* Distance du bas de l'image */
  right: 8%;   /* Distance du côté droit de l'image */
  text-decoration: none;
  background: #333;
  color: white;
  padding: 8px 8px;
  font-size: 0.8rem;
  font-weight: 700;
  border: 2px solid white; /* Bordure blanche */
  border-radius: 50px; /* Arrondi des bords */
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block; /* Pour que le texte et le bouton soient centrés */
  text-align: center;
  box-shadow: 0 6px 15px rgba(0, 123, 255, 0.5);
  transition: all;

  &:hover {
    background: #555; /* Changement de couleur au survol */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }
}

.btn-open img {
  height: 30px;
  weight: 30px;
}

.icon-img {
  height: 5px;
  weight: 5px;
}

#toggleButton {
  color: #aaa;
  font-size: 8px;
}
