<div class="container">
    <div class="row">
        <div class="col-12">
            <div style="display: flex; justify-content: center; align-items: center; height: 100px;">
              <h1>Joconde</h1>
            </div>
            <div style="display: flex; gap: 10px; flex; justify-content: center;n">
                <p>Oil on canva</p>
                <p>dim: 77 × 53 cm</p>
                <p>Louvre</p>
            </div>
            <%= render "layouts/form-game", game: @game%>
        </div>
    </div>
</div>