.navbar-lewagon {
  justify-content: space-between;
  background: black;
  height: 120px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.penseur-logo img {
  width: 40px;
}

.dropdown-toggle {
  width: 40px;
}

.navbar-title {
  color: white;
  font-size: 48px;
}

