
.my-popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  length: 300px;
}

.popup {
  height: 50vh;
}

.my-popup.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0s linear;
}


.my-popup-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.3;
  z-index: 9999;
}

.my-popup-content {
  position: absolute;
  z-index: 99999;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 280px;
  width: 80%;
  background: white;
  padding: 10px;
  padding-bottom: 10px;

}

.my-popup-close-btn-wrapper {
  display: flex;
  position: absolute;
  bottom: 14px;
  right: 42px;
}

.my-popup-close-btn {
  background: #e6e6e6;
  border: 0px;
  padding: 5px 10px;
  border-radius: 4px;

}

.my-popup-close-btn:hover {
  cursor: pointer;
  background: #dbdbdb;
}

.footer_popup_answer {
  margin: 16px 24px 16px 24px;
  justify-content: space-around;
}

.text_popup_answer {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  justify-items: center;
  align-content: center;
}

.map_popup_answer {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.map_txt_popup_answer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
