/* Popup */
.my-popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  length: 300px;
  color: white; /* Texte de la popup en blanc */
  border-top: white;
}

.my-popup.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0s linear;
  background-color: rgba(0, 0, 0, 0.4); /* Légère opacité noire pour l'arrière-plan */
  z-index: 2;
}

.my-popup-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black; /* Fond noir derrière la popup */
  opacity: 0.3;
  z-index: 9999;
}

.my-popup-content {
  position: absolute;
  z-index: 99999;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 250px;
  bottom: 10px;
  width: 100%; /* 100% de largeur pour la popup */
  padding: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  background: black; /* Fond noir pour le contenu */
  color: white; /* Texte blanc à l'intérieur de la popup */
  box-sizing: border-box; /* Important pour gérer les bordures et padding */
}

/* Close Button */
.my-popup-close-btn-wrapper {
  display: flex;
  position: absolute;
  bottom: 14px;
  right: 42px;
}

.my-popup-close-btn {
  color: white;
  background-color: #243642;
  border: 1px solid #4A4A4A;
  padding: 4px 24px;
  border-radius: 16px;
  font-weight: normal;
  transition: opacity 0.3s ease;
}

.my-popup-close-btn:hover {
  cursor: pointer;
  background: #dbdbdb;
}

/* Popup Text and Results */
.footer_popup_answer {
  margin: 16px 24px;
  justify-content: space-around;
}

.text_popup_answer {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  justify-items: center;
  align-content: center;
  font-size: 100%;
  gap: 6px;
}

.card-pop-up {
  display: flex;
  color: black;
  font-weight: bold;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #EEEEEE;
  width: 100%;
  min-height: 90px;
  align-self: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.correct-answer {
  color: #79CEB8;
}

.false-answer {
  color: #ED6856;
  text-decoration: line-through;
}

.img-popup {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 150px;
  margin-bottom: 4px;
  object-fit: scale-down;
}

/* Button Styling */
.btn-ghost {
  color: black;
  background-color: white;
  border: 1px solid white;
  padding: 4px 24px;
  border-radius: 16px;
  font-weight: normal;
}

.all-results {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 4px;
  margin-top: 8px;
}

.card-pop-up-long {
  background-color: #EEEEEE;
  color: black;
  font-weight: bold;
  min-height: 60px;
  align-self: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

/* Specific adjustments for the map inside popup */
.map_popup_answer {
  width: 100%;  /* Ensure map takes full width */
  padding: 15px;
  margin: 5px 0;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#results-map {
  width: 100%;
  height: 250px;
}

/* Styling for the "Your results" section */
#result-title {
  border-top: 1px solid white;  /* Thin white border above the results */
  padding-top: 10px;  /* Adds some padding to the top */
  padding-bottom: 10px;  /* Adds padding at the bottom */
  margin-bottom: 19px;  /* Adds margin below the title */
  font-weight: normal;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
