
.my-popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  length: 300px;
}

.popup {
  height: 50vh;
}

.my-popup.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0s linear;
  background-color: rgba(0, 0, 0, 0.4);
  // backdrop-filter: blur(3px);
  z-index: 2;
}


.my-popup-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.3;
  z-index: 9999;
}

.my-popup-content {
  position: absolute;
  z-index: 99999;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 250px;
  bottom: 10px;
  width: 90%;
  background: white;
  padding: 10px;
  padding-bottom: 10px;
  border-radius: 20px;

}

.my-popup-close-btn-wrapper {
  display: flex;
  position: absolute;
  bottom: 14px;
  right: 42px;
}

.my-popup-close-btn {
  background: #e6e6e6;
  border: 0px;
  padding: 5px 10px;
  border-radius: 4px;

}

.my-popup-close-btn:hover {
  cursor: pointer;
  background: #dbdbdb;
}

.footer_popup_answer {
  margin: 16px 24px 16px 24px;
  justify-content: space-around;
}

.text_popup_answer {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  justify-items: center;
  align-content: center;
  font-size: 100%;
}

.map_popup_answer {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.map_txt_popup_answer {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.card-pop-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background-color: whitesmoke;
  width: 95%;
  min-height: 90px;
  align-self: center;
  margin: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.correct-answer {
  color: green;
}

.false-answer {
  color: darkred;
  text-decoration: line-through;
}

.img-popup {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 150px;
  margin-bottom: 4px;
  object-fit: scale-down;
}


.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.all-results {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 4px;
}

.card-pop-up-long {
  border-radius: 5%;
  background-color: whitesmoke;
  width: 95%;
  min-height: 60px;
  align-self: center;
  margin: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
