// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "login";
@import "signup";

// Le fichier contenant les styles pour le slider
@import "pages/new";  // Assurez-vous que ce fichier est correctement référencé

@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

.modal-dialog-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  max-width: 100%;
}

body{
  background-color: black;
  height: 100vh;
}
